<!DOCTYPE html>
<html>
<head>
<style>
ul {list-style-type: none;}
ul li {padding: 5px;}
ul li:nth-child(odd) {background-color: #f2f2f2;}
form, h1 {padding-left: 40px;}
span {font-weight: bold;}
</style>
</head>
<body>

<h1>Simple Guestbook</h1>
<ul>
    {% for entry in entries %}
        <li><span>{{ entry.getContent() }}</span><br>Name: <span>{{ entry.getName() }}</span><br>Date: {{ entry.getDate() }}</li>
    {% endfor %}
</ul>

<form method="POST">
Message
<br>
<textarea name="message" rows="10" cols="30"></textarea>
<br>
Name
<br>
<input type="text" name="name">
<br><br>
<input type="submit" value="Submit">
</form>

</body>
</html>